@import "octicon-utf-codes.less";

.editor .gutter .line-number {
  &.coffee-error .icon-right {
    visibility: visible;

    &:before {
      content: @alert;
      color: #F22;
    }
  }

  &.coffee-warn .icon-right {
    visibility: visible;

    &:before {
      content: @info;
      color: #B89C02;
    }
  }
}

.coffee-lint .panel-body{
  height: 150px;
  overflow-y: scroll;

  .result-item{
    cursor: pointer;

    &.lint-error{
      color: #F77;

      &:hover {
        color: #F44;
      }
    }

    &.lint-warn{
      color: #B89C02;

      &:hover {
        color: #D1B204;
      }
    }

  }
}
